.gallery--wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .gallery--wrap {
    height: 350px;
  }
  .full--screen--image img{
    max-width: 400px;
  }
}
@media only screen and (min-width: 600px) {
  .gallery--wrap {
    height: 400px;
  }
  .full--screen--image img{
    max-width: 425px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery--wrap {
    height: 500px;
  }
  .full--screen--image img{
    max-width: 450px;
  }

}
@media only screen and (min-width: 992px) {
  .gallery--wrap {
    height: 600px;
  }
  .full--screen--image img{
    max-width: 450px;
  }
}
.gallery--wrap .single {
  cursor: pointer;
}
.gallery--wrap .single img {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}
.gallery--wrap .single img:hover {
  transform: scale(1.02);
}
.slider--wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.slider--wrap .btn--close,
.slider--wrap .btn--prev,
.slider--wrap .btn--next {
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  color: white;
  z-index: 24;
}
.btn--close:hover .btn--prev:hover,
.btn--next:hover {
  opacity: 1;
}
.slider--wrap .btn--close {
  position: absolute;
  top: 10px;
  right: 60px;
}
.slider--wrap .btn--prev {
  position: absolute;
  top: 300px;
  left: 60px;
}
.slider--wrap .btn--next {
  position: absolute;
  top: 300px;
  right: 60px;
}
.slider--wrap .full--screen--image {
  position: relative;
  /* width: 100vw;
  height: 100vh; */
  display: grid;
  z-index: 24;
}
.slider--wrap .full--screen--image img {
  position: relative;
  object-fit: scale-down;
  max-height: 100%;
  align-self: center;
  justify-self: center;
  z-index: 23;
}
#backdrop--1{
  position: absolute;
  background: center center/cover no-repeat;
  filter: blur(25px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 22;
  /* width: 100vw;
  height: 100vh; */
}